html {
    margin:0;
    padding:0;
}
body {
    background: url('http://img0.mxstatic.com/wallpapers/8a5191d30ae878c24a14db74385ce07c_large.jpeg');
    background-size: cover;
}
h1{

}
h2{
    color:black;
}
h3 {
    color:black;

}
h4{
color: black;
    text-decoration: underline;
}
h5 {
    color:black;
}
p {

}
img {

}
span {

}
a {
color:green;
}
li {

}
th {
    color:green;
}
td {
    color:black;
}
iframe{
    border: 3px solid whitesmoke;
}














